<div *ngIf="item">
    <div class="product-container">
        <div class="image-container">
            <button mat-icon-button (click)="previousImage()" [disabled]="currentImageIndex === 0">
                <mat-icon>chevron_left</mat-icon>
            </button>
            <img [src]="imageUrl + item.itemId + '/' + currentImageIndex" loading="lazy" class="item-image">
            <button mat-icon-button (click)="nextImage()" [disabled]="currentImageIndex === totalImages - 1">
                <mat-icon>chevron_right</mat-icon>
            </button>
        </div>


        <button (click)="utilService.scrollToTop()" (click)="goToCart()" mat-fab class="cart-icon" style="font-size: 30px;">
            <div style="font-size: 10px;" class="badge bg-danger">{{cartItemCount}}</div>
            <mat-icon style="color:white">
                add_shopping_cart
            </mat-icon>
        </button>
        <div class="details-container">
            <p><strong>Name:</strong> {{ item.name }}</p>
            <p><strong>Item ID:</strong> {{ item.itemId }}
                <mat-icon mat-stroked-button (click)="this.notificationService.copy()"
                    aria-label="Show an example snack-bar" class="copy"
                    (click)="utilService.copyText(item.itemId)">file_copy</mat-icon>
            </p>
            <p><strong>Description:</strong></p>
            <ul>
                <li *ngFor="let desc of descriptionList">{{ desc }}</li>
            </ul>
            <p><strong>Price:</strong> ${{ item.price * item.quantity }} JMD</p>
            <p *ngIf="item.stock > 0"><strong>Quantity:</strong> {{ item.quantity }}</p>
            <p style="color:red" *ngIf="isLowStock()"><strong>Low Stock:</strong> {{ getStockBasedOnSize() }}</p>
            <p style="color:green" *ngIf="isStockAvailable()"><strong>In Stock</strong></p>
            <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
            <div align="center">
                <button mat-icon-button (click)="decreaseQuantity()" [disabled]="item.quantity === 1"
                    matTooltip="Decrease the Quantity of this item"
                    aria-label="Button that displays a tooltip when focused or hovered over"
                    class="btn btn-outline-primary">
                    <mat-icon class="quantity-icon">remove_circle_outline</mat-icon>
                </button>
                <button mat-icon-button 
                (click)="increaseQuantity()" 
                matTooltip="Increase the Quantity of this item"
                aria-label="Button that displays a tooltip when focused or hovered over"
                class="btn btn-outline-primary"
                [disabled]="!size || (size === 'S' && item.skirtSmall.stock <= item.quantity) || 
                            (size === 'M' && item.skirtMedium.stock <= item.quantity) || 
                            (size === 'L' && item.skirtLarge.stock <= item.quantity)">
            <mat-icon class="quantity-icon">add_circle</mat-icon>
        </button>
        
            </div>
            <br>
            <div class="size-selection" align="center">
                <mat-button-toggle-group [(ngModel)]="size" aria-label="Select size">
                    <mat-button-toggle value="S">4(S)</mat-button-toggle>
                    <mat-button-toggle value="M">6(M)</mat-button-toggle>
                    <mat-button-toggle value="L">8/10(L)</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <div align="center" *ngIf="size">
                <br>
                <h6>Item Measurement</h6>
                <p *ngIf="size === 'S'">
                    <strong>Skirt - </strong> Length: {{item.skirtSmall?.length}}, Waist Size:
                    {{item.skirtSmall?.waistSize}} <br>
                    <strong>Top - </strong> Underbust: {{item.topSmall?.underbust}}, Bust: {{item.topSmall?.bust}}, Length:
                    {{item.topSmall?.length}} <br>
                    <strong>Hip - </strong> Hip Size: {{item.hipSmall?.hipSize}} <br>
                </p>
                <p *ngIf="size === 'M'">
                    <strong>Skirt - </strong> Length: {{item.skirtMedium?.length}}, Waist Size:
                    {{item.skirtMedium?.waistSize}} <br>
                    <strong>Top - </strong> Underbust: {{item.topMedium?.underbust}}, Bust: {{item.topMedium?.bust}}, Length:
                    {{item.topMedium?.length}} <br>
                    <strong>Hip - </strong> Hip Size: {{item.hipMedium?.hipSize}} <br>
                </p>
                <p *ngIf="size === 'L'">
                    <strong>Skirt - </strong> Length: {{item.skirtLarge?.length}}, Waist Size:
                    {{item.skirtLarge?.waistSize}} <br>
                    <strong>Top - </strong> Underbust: {{item.topLarge?.underbust}}, Bust: {{item.topLarge?.bust}}, Length:
                    {{item.topLarge?.length}} <br>
                    <strong>Hip - </strong> Hip Size: {{item.hipLarge?.hipSize}} <br>
                </p>
            </div>
            <br>
            <div align="center">
                <button *ngIf="item.skirtSmall.stock > 0 || item.skirtMedium.stock > 0 || item.skirtLarge.stock > 0" matTooltip="Add this item to your Pet Cart" mat-raised-button
                    style="width:50%;border-radius: 6.53rem; font-size: 12px;"
                    [ngStyle]="{'background-color': 'purple', 'color': 'white'}"
                    (click)="onAddToCart(item)"><mat-icon>add_shopping_cart</mat-icon>Add To
                    Cart</button><br><br>

                <button (click)="this.pageRoute.goBackToShop()" (click)="utilService.scrollToTop()" mat-raised-button
                    style="width:50%;border-radius: 9.53rem; background-color: grey; color:white; font-size: 12px;">
                    <mat-icon>shopping_basket</mat-icon>Back To Shop</button>
            </div>
        </div>
    </div>
</div>

<br><br><br><br>
<app-footer></app-footer>