.payment-procedure-heading {
    padding-top: 110px;
}
.payment-procedure-info {
    padding: 10px;
}

li{
    list-style: none;
}
.highlight {
    color: green;
    font-weight: 550;
    text-decoration: none;
}