<mat-toolbar class="toolbar">
    <div aria-label="hamburger icon" mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()"
        class="hide-menu-bar">
        <mat-icon class="hamburger-icon-size" *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon class="hamburger-icon-size" *ngIf="sidenav.opened">
            close
        </mat-icon>
    </div>

    <img src="assets/Roleplay_Delight_Logo.jpg" class="rounded-circle" alt="Roleplay_Delight_Logo">
    <nav class="show-menu-bar">
        <ul (click)="utils.scrollToTop()">
            <li><a class="btn btn-primary" style="font-weight: 570;" routerLinkActive="active"
                    [routerLink]="['/home']">Home</a></li>
            <li><a class="btn btn-primary" style="font-weight: 570;" routerLinkActive="active"
                    [routerLink]="['/behind-the-scenes']">Behind The Scenes</a></li>
        </ul>
    </nav>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav="matSidenav" class="follow-scroller">
        <nav>
            <ul (click)="utils.scrollToTop()">
                <br><br><br><br>
                <li><a class="btn btn-primary" (click)="closeSidenav()"style="font-weight: 570;" routerLinkActive="active"
                        [routerLink]="['/home']">Home</a></li>
                <li><a class="btn btn-primary" (click)="closeSidenav()"style="font-weight: 570;" routerLinkActive="active"
                        [routerLink]="['/behind-the-scenes']">Behind The Scenes</a></li>
            </ul>
        </nav>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="background">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>