<h2 class="policy-heading" align="center">Delivery Policy</h2>

<div class="policy-info">
    Last Updated: August 5, 2024
    <p>
        <br>
        Welcome to Roleplay Delight's Delivery Policy, where we detail the procedures and standards governing the delivery of
        our lingerie. This policy outlines our approach to
        delivery logistics, including the use of third-party services, cancellation procedures, and customer
        communication protocols. By engaging with our website and services, you agree to adhere to the terms and
        guidelines set forth in this Delivery Policy. We are committed to ensuring a seamless and reliable delivery
        experience for all our valued customers.
    </p>

    <ul>
        <li>
            <div>We do not offer cash on delivery. Our delivery process is facilitated through a third-party service
                provider.</div>
        </li><br>
        <li>
            <div>If you choose to cancel your order while it is in transit for delivery, a cancellation fee will be
                applicable.</div>
        </li><br>
        <li>
            <div>In the event that you are not available either at the designated pickup point or your specified
                delivery address, the package will be returned to us.</div>
        </li><br>
        <li>
            <div>
        <li>
            <div>Prior to initiating delivery, we will contact you via phone 15 minutes beforehand. During this
                timeframe, you have the option to cancel your order without incurring any cancellation fees.</div>
        </li><br>
</div>
</li><br>
</ul>
</div>
<br><br>
<app-footer></app-footer>