<h2 class="policy-heading" align="center">Refund Policy</h2>

<div class="policy-info">
    Last Updated: August, 2024
    <p>
        <br>
        This Refund Policy delineates the procedures and principles governing the collection, utilization, disclosure,
        and protection of personal data belonging to users engaging with Roleplay Delight's services. Your utilization
        of our website and services implies your consent to abide by
        the conditions and methodologies delineated in this Refund Policy.
    </p>

    <ul>
        <li>
            <div>Customers are eligible for a full refund for items damaged during transit provided they initiate the
                refund process(via making contact to us) within 48 hours of receiving the items.</div>
        </li><br>
        <li>
            <div>If an order is cancelled while it is in transit for delivery, a cancellation fee will be deducted from
                the order amount and the remainder will be refunded.</div>
        </li><br>
        <li>
            <div>If the color or design of an item received is different from what was ordered, an exchange is possible
                where applicable. Exchange can only be done within 48 hours of receiving the item.</div>
        </li><br>
    </ul>
</div>
<br><br>
<app-footer></app-footer>