<h2 class="policy-heading" align="center">Order Policy</h2>

<div class="policy-info">
    Last Updated: August 5, 2024
    <p>
        <br>
        Welcome to Roleplay Delight, where we are dedicated to providing high-quality and stylish lingerie to awaken
        your fantasies. To ensure a smooth and satisfying shopping experience, we have established the following
        order policy. This policy outlines the terms and conditions related to placing orders, processing, shipping, and
        handling returns. By placing an order with us, you agree to the terms set forth below. Our goal is to make your
        shopping experience as enjoyable and hassle-free as possible.

    <br>
    <h4 style="color:black; font-weight: 550">Order Policy for Items</h4>

    <ul>
        <li>
            <div>Customer will be called a max of 3 times to confirm order after which order will be cancelled.
            </div>
        </li><br>
        <li>
            <div>Order will be cancelled if customer does not make a bank transfer to us after being contacted to make
                payment.
            </div>
        </li><br>
        <li>
            <div>If you choose to cancel your order while it is in transit for delivery, a cancellation fee will be
                applicable</div>
        </li><br>
    </ul>
</div>
<br><br>
<app-footer></app-footer>