<h2 class="policy-heading" align="center">Order Policy</h2>

<div class="policy-info">
    Last Updated: June 6, 2024
    <p>
        <br>
        Welcome to Roleplay Delight, where we are dedicated to providing high-quality and stylish accessories for
        your beloved pets. To ensure a smooth and satisfying shopping experience, we have established the following
        order policy. This policy outlines the terms and conditions related to placing orders, processing, shipping, and
        handling returns. By placing an order with us, you agree to the terms set forth below. Our goal is to make your
        shopping experience as enjoyable and hassle-free as possible, while ensuring that you and your pets receive the
        best products and services.
    </p>

    <br>
    <h4 style="color:black; font-weight: 550">Order Policy for Pet Accessories</h4>

    <ul>
        <li>
            <div>Customer will be called a max of 3 times to confirm order after which order will be cancelled.
            </div>
        </li><br>
        <li>
            <div>Order will be cancelled if customer does not make a bank transfer to us after being contacted to make
                payment.
            </div>
        </li><br>
        <li>
            <div>If you choose to cancel your order while it is in transit for delivery, a cancellation fee will be
                applicable</div>
        </li><br>
        <li>
            <div>If you created an account with us via google, we will make contact with you by
                email with your order and we may request your contact number for seamless communication</div>
        </li><br>
    </ul>
</div>
<br><br>
<app-footer></app-footer>